@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(80, 6, 80);
}

canvas {
    display: block;
    margin: 0 auto;
}
